/*----------------------------------------
    GENERAL
----------------------------------------*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background-color: #74AC41;
    font-family: 'Lato', sans-serif;
    color: #444;
      -webkit-transition:all 700ms cubic-bezier(.4,.1,.4,1) 200ms;
      -moz-transition:all 700ms cubic-bezier(.4,.1,.4,1) 200ms;
      -o-transition:all 700ms cubic-bezier(.4,.1,.4,1) 200ms;
    transition:all 700ms cubic-bezier(.4,.1,.4,1) 200ms
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .lead {
    font-weight: 300;
}

.spacer-25px {
    background: none !important;
    height: 25px;
}

/*----------------------------------------
    HEADER
----------------------------------------*/
header {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*----------------------------------------
    HERO
----------------------------------------*/
#hero {
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    min-height: 460px;
    height: 100%;
}

/*----------------------------------------
    PROJECT
----------------------------------------*/
#project {
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: #74AC41;
}

#project .cadre {
    background: url(../assets/cadre.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 275px;
}

/*----------------------------------------
    ABOUT
----------------------------------------*/
#about {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #74AC41;
}
#about .user {
    padding: 25px 0px;
}

#about 

#about .team-arrow i {
  text-align: center;
}

.thumbnail {
    border: 0;
    text-align: center;
}

.thumbnail img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;

    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.thumbnail .caption span {
    line-height: 20px;
    font-size: 15px;
}

/*----------------------------------------
    GALLERY
----------------------------------------*/
#gallery {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #74AC41;
}
#owl-demo .item {
    margin: 10px;
}
#owl-demo .item img {
    display: block;
    width: 280px;
    height: 497px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.customNavigation   {
    text-align: center;
}
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #eee;
    font-size: 36px;
    padding: 0px 20px;
    cursor: pointer;
}

/*----------------------------------------
    SOCIAL
----------------------------------------*/
#social {
    background-color: #e8f8f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.social-icons {
    margin: 0;
}
.social li > a,
.social img {
    margin: 0;
    padding: 0;
}
.social-icon {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #16a085;
    color: #fff;
    font-size: 16px;
    height: 35px;
    width: 35px;
    padding: 10px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.social-icon:hover,
.social-icon:focus {
    background-color: #139077;
}

/*----------------------------------------
    FOOTER
----------------------------------------*/
footer {
    background: url(../assets/background/footer.png);
    background-color: #74AC41;
    color: #fff;
    margin: 0;
    padding: 50px;
    height: 188px;
}
footer .footer-links > li > a {
    color: #fff;
}

/*----------------------------------------
    BUTTONS
----------------------------------------*/
.btn {
    -moz-user-select: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-1 {
    background-color: #16a085;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: all 0.2s;
}
.btn-1:hover,
.btn-1:focus {
    background-color: #139077;
    border: none;
    color: #fff;
    outline: none;
}
.btn-2 {
    background-color: rgb(0,0,0,0);
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.btn-2:hover,
.btn-2:focus {
    background-color: rgb(0,0,0,0);
    border: 2px solid #fff;
    color: #1abc9c;
}
.btn-3 {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn-3:hover,
.btn-3:focus {
    background-color: #cf4436;
    border: none;
    color: #fff;
}
.btn-4 {
    background-color: #34495e;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.btn-4:hover,
.btn-4:focus {
    background-color: #2c3e50;
    border: none;
    color: #fff;
}
.btn-link {
    background: rgb(0,0,0,0);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}
.btn-link:hover,
.btn-link:focus {
    background: rgb(0,0,0,0);
    border: none;
    color: #555;
    text-decoration: none;
}
.btn-lg {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 15px 20px;
}
.btn-wide {
    padding: 15px 100px;
}
.buttons {
    padding-top: 30px;
}
.icon {
    padding-right: 15px;
}

/*----------------------------------------
    FORMS
----------------------------------------*/
.form-control {
    background-color: #e8f8f5;
    border: 2px solid #1abc9c;
    border-radius: 4px;
    box-shadow: none;
    color: #444;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
.form-control:focus {
    background-color: #fff;
    border-color: #16a085;
    box-shadow: none;
    outline: 0 none;
}
.input-lg {
    border-radius: 6px;
    font-size: 18px;
    height: 60px;
    line-height: 1.33;
    padding: 10px 16px;
}

/*----------------------------------------
    MISC
----------------------------------------*/
.fill {
    background-color: #1abc9c;
    height: 100%;
    width: 100%;
}
.lead {
    margin-bottom: 50px;
}
.overview {
    border-radius: 6px;
    text-align: center;
    margin-bottom: 0px;
}
.overview_project {
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 0px;
}
.user-avatar img {
    margin: 0 auto;
}
hr.separator {
    margin-top: 100px;
    background: rgb(0, 0, 0, 0);
    border-top: 1px solid #47c9af;
}
hr.separator-alt {
    background: rgb(0, 0, 0, 0);
    border-top: 2px solid #1abc9c;
    border-top-radius: 2px;
    max-width: 300px;
    margin: 50px 0;
}
.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #139077;
    padding: 10px 15px;
}
.green-tooltip + .tooltip.top .tooltip-arrow {
    border-top-color: #139077;
}

/*----------------------------------------
    SIDE MENU
----------------------------------------*/
#sidebar-wrapper {
    margin-left: -150px;
    left: 0;
    width: 150px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    opacity: 0.8
}
.sidebar-nav {
    position: absolute;
    top: 30px;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    color: #444;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #444;
    background: none;
}
#menu-toggle {
    top: 25px;
    left: 16px;
    position: fixed;
    z-index: 1000;
}
#sidebar-wrapper.active {
    left: 150px;
    width: 150px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    color: #0d5e4e;
    margin: 5px 5px 0px 0px;
}

/*----------------------------------------
    FEATURES
----------------------------------------*/
#features {
    padding-top: 50px;
    padding-bottom: 30px;
}

#features .item {
    text-align: center;
    padding: 25px 0px;
}
#features .item-icon {
    border-radius: 50%;
    border: 2px solid #555;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    margin: 0 auto;
}
