/* DESKTOP NAVIGATION PARALLAX
============================== */
.wrapper {
  height: 460px;
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.scene, .layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scene {
  min-height: 460px;
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.center {
  max-width: 400px;
  margin: 0 auto;
  width: 88%;
}

.layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.title {
  font-size: 3em;
  text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
  margin-top: -0.7em;
  position: absolute;
  width: 100%;
  top: 42%;
}

.background {
  background: url(../assets/background/bg.png) repeat-x 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  top: -5%;
}

.iphone2 {
  background: url(../assets/elements/iphone.png) no-repeat 50% 100%;
  position: absolute;
  width: 110%;
  height: 100%;
  left: 8%;
  top: -7%;
}

.monkey {
  background: url(../assets/elements/monkey.png) no-repeat 50% 100%;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -15%;
  top: -8%;
}

.logo {
  background: url(../assets/elements/logo.png) no-repeat 50% 100%;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -30%;
  top: -50%;
}

.ipad {
  background: url(../assets/elements/ipad.png) no-repeat 50% 100%;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  top: -5%;
}

.foreground {
  background: url(../assets/background/bg1.png) repeat-x 100% 100%;
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  top: -5%;
}

/* IPHONE 4 NAVIGATION
============================== */
@media all and (min-width: 400px) {
  html {
    font-size: 12px;
  }

  .wrapper {
    min-height: 360px;
  }

  .scene {
    min-height: 360px;
  }
}

/* IPHONE 5 NAVIGATION
============================== */
@media all and (min-width: 600px) {
  html {
    font-size: 15px;
  }

  button {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    height: 56px;
    width: 56px;
  }

  .center {
    max-width: 440px;
  }

  .title {
    font-size: 3.46667em;
  }

  .background {
    bottom: 96px;
  }

  .iphone {
    margin: 0px -96px;
    background-size: 192px 336px;
    height: 336px;
    width: 192px;
    bottom: 128px;
  }
}

/* IPAD NAVIGATION
============================== */
@media all and (min-width: 900px) {
  html {
    font-size: 15px;
  }

  .center {
    max-width: 560px;
  }

  .title {
    font-size: 3.46667em;
  }

  .background {
    bottom: 160px;
  }

  .iphone {
    margin: 0px -104px;
    background-size: 208px 364px;
    height: 364px;
    width: 208px;
    bottom: 128px;
  }
}

/* MEDIUM DESKTOP NAVIGATION
============================== */
@media all and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .center {
    max-width: 620px;
  }

  .iphone {
    margin: 0px -112px;
    background-size: 224px 392px;
    height: 392px;
    width: 224px;
  }
}

a, button {
  -webkit-transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* KEYFRAMES
============================== */

@-webkit-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  25% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }

  75% {
    -webkit-transform: rotateY( 30deg);
    -moz-transform: rotateY( 30deg);
    transform: rotateY( 30deg);
  }

  100% {
    -webkit-transform: rotateZ( 20deg);
    -moz-transform: rotateZ( 20deg);
    transform: rotateZ( 20deg);
  }
}

@-moz-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  25% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }

  75% {
    -webkit-transform: rotateY( 30deg);
    -moz-transform: rotateY( 30deg);
    transform: rotateY( 30deg);
  }

  100% {
    -webkit-transform: rotateZ( 20deg);
    -moz-transform: rotateZ( 20deg);
    transform: rotateZ( 20deg);
  }
}

@-ms-keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  25% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }

  75% {
    -webkit-transform: rotateY( 30deg);
    -moz-transform: rotateY( 30deg);
    transform: rotateY( 30deg);
  }

  100% {
    -webkit-transform: rotateZ( 20deg);
    -moz-transform: rotateZ( 20deg);
    transform: rotateZ( 20deg);
  }
}

@keyframes tilt {
  0% {
    -webkit-transform: rotateX(-30deg);
    -moz-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  25% {
    -webkit-transform: rotateX( 30deg);
    -moz-transform: rotateX( 30deg);
    transform: rotateX( 30deg);
  }

  50% {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }

  75% {
    -webkit-transform: rotateY( 30deg);
    -moz-transform: rotateY( 30deg);
    transform: rotateY( 30deg);
  }

  100% {
    -webkit-transform: rotateZ( 20deg);
    -moz-transform: rotateZ( 20deg);
    transform: rotateZ( 20deg);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-moz-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-ms-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
  }
}

@-webkit-keyframes iphone {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-moz-keyframes iphone {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-ms-keyframes iphone {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@keyframes iphone {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

html.mouse a:hover, html.mouse button:hover {
  -webkit-transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
html.mouse a:hover {
  color: #ff755a;
}
html.mouse button:hover {
  background-color: #d92400;
  color: white;
}
html.mouse .toggle:hover .x, html.mouse .toggle:hover .y {
  background-color: white;
}
html.mouse .links a:hover {
  background-color: #d92400;
  color: white;
}

html.touch a.tap, html.touch button.tap {
  -webkit-transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 0s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
html.touch a.tap {
  color: #ff755a;
}
html.touch button.tap {
  background-color: #d92400;
  color: white;
}
html.touch .toggle.tap .x, html.touch .toggle.tap .y {
  background-color: white;
}
html.touch .links a.tap {
  background-color: #d92400;
  color: white;
}

#awwwards {
  position: absolute;
  z-index: 9999;
  top: 40px;
  left: 0;
}
#awwwards a {
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -999em;
  overflow: hidden;
  display: block;
  height: 105px;
  width: 70px;
}
#awwwards.left.black a {
  background-image: url(../../graphics/awwwards_sotd_black_left.png);
}
#awwwards.right.black a {
  background-image: url(../../graphics/awwwards_sotd_black_right.png);
}
#awwwards.left.white a {
  background-image: url(../../graphics/awwwards_sotd_white_left.png);
}
#awwwards.right.white a {
  background-image: url(../../graphics/awwwards_sotd_white_right.png);
}
#awwwards.left.green a {
  background-image: url(../../graphics/awwwards_sotd_green_left.png);
}
#awwwards.right.green a {
  background-image: url(../../graphics/awwwards_sotd_green_right.png);
}

@media (max-width: 767px) {
  #awwwards {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  #awwwards a {
    -webkit-background-size: 70px 105px;
    -moz-background-size: 70px 105px;
    -ie-background-size: 70px 105px;
    -o-background-size: 70px 105px;
    background-size: 70px 105px;
  }
  #awwwards a.left.black a {
    background-image: url(../../graphics/awwwards_sotd_black_left2x.png);
  }
  #awwwards a.right.black a {
    background-image: url(../../graphics/awwwards_sotd_black_right2x.png);
  }
  #awwwards a.left.white a {
    background-image: url(../../graphics/awwwards_sotd_white_left2x.png);
  }
  #awwwards a.right.white a {
    background-image: url(../../graphics/awwwards_sotd_white_right2x.png);
  }
  #awwwards a.left.green a {
    background-image: url(../../graphics/awwwards_sotd_green_left2x.png);
  }
  #awwwards a.right.green a {
    background-image: url(../../graphics/awwwards_sotd_green_right2x.png);
  }
}
