/***************************************************************************************************************
** SMARTPHONES
****************************************************************************************************************/
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}

/***************************************************************************************************************
** IPAD
****************************************************************************************************************/
/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	html {
    font-size: 15px;
  }

  .center {
    max-width: 560px;
  }

  .title {
    font-size: 3.46667em;
  }

  .background {
    bottom: 160px;
  }

  .iphone {
    margin: 0px -104px;
    background-size: 208px 364px;
    height: 364px;
    width: 208px;
    bottom: 128px;
  }
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* ipad 2 (Landscape) */
@media (max-device-width: 1024px) and (orientation: landscape) {
/* Styles pour cette Media Queries */
}

/* ipad2 (portait) */
@media (max-device-width: 768px) and (orientation: portrait) {

}

/* iPad Mini */
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1){
 
}

/***************************************************************************************************************
** DESKTOPS & LAPTOP
****************************************************************************************************************/
/* Desktops and laptops */
@media only screen and (min-width : 1224px){
	html {
    font-size: 16px;
  }

  .center {
    max-width: 620px;
  }

  .iphone {
    margin: 0px -112px;
    background-size: 224px 392px;
    height: 392px;
    width: 224px;
  }
}

/* Large screens */
@media only screen and (min-width : 1824px) {

}

/***************************************************************************************************************
** IPHONES
****************************************************************************************************************/
/* Iphone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	html { 
		font-size: 15px; 
	}
  	button {
    		-webkit-border-radius: 28px;
    		-moz-border-radius: 28px;
		border-radius: 28px;
    		-webkit-background-clip: padding-box;
    		-moz-background-clip: padding-box;
    	background-clip: padding-box;
    	height: 56px;
    	width: 56px;
  	}
  	.center {
    	max-width: 440px;
  	}
  	.title {
    	font-size: 3.46667em;
  	}
  	.background {
    	bottom: 96px;
  	}
  	.iphone {
    	margin: 0px -96px;
    	background-size: 192px 336px;
    	height: 336px;
    	width: 192px;
    	bottom: 128px;
  	}	
}

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5){
	html {
    font-size: 12px;
  }

  .wrapper {
    min-height: 360px;
  }

  .scene {
    min-height: 360px;
  }
}

/* iPhone 3G */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1){

}

/* iPhone Paysage */
@media screen and (max-device-width: 480px) {

}

/* iPhone portrait */
@media screen and (max-device-width: 320px) {

}

/******************/
/* A trier */
@media (width: 1136px) {
    #features .iphone-1 {
        margin-top: 45px;
    }
}

@media (width: 1024px) {
    #features .iphone-1 {
        margin-top: 45px;
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    #hero img {
        margin-top: 200px;
    }
    #features .iphone-1 {
        margin-top: 175px;
    }
    .btn-wide {
        padding: 15px 50px;
    }
    #image h1 {
        font-size: 30px;
    }
    #image .lead {
        font-size: 18px;
        margin-bottom: 25px;
    }
}
@media (min-width: 320px) and (max-width: 360px) {
    #hero {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    #hero .logo {
        margin-bottom: 50px;
    }
    #hero h1, h1, .h1 {
        font-size: 32px;
    }
    #hero img {
        margin-top: 80px;
    }
    #features, #image, #about, #video, #testimonials, #purchase, #gallery, #social, #subscribe {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #image .text, #testimonials .text {
        text-align: center;
    }
    #owl-demo .item img {
        height: 100%;
    }
    .social-icon {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color: #16a085;
        color: #fff;
        font-size: 14px;
        height: 30px;
        width: 30px;
        padding: 5px;
    }
    .green-tooltip + .tooltip > .tooltip-inner {
        padding: 5px;
    }
    .buttons {
        padding-top: 0px;
    }
    .icon {
        padding-right: 8px;
    }
    .btn-lg {
        padding: 8px 13px;
    }
    .btn-wide {
        padding: 15px 50px;
    }
}
@media (width: 1024px) {
    #hero img {
        margin-top: 100px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (width: 980px) {
    #features .item h2 {
        font-size: 26px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (min-width: 768px) and (max-width: 900px) {
    #features .item h2 {
        font-size: 24px;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (min-width: 600px) and (max-width: 640px) {
    #hero {
        padding-top: 20px;
    }
    #hero h1 {
        font-size: 42px;
    }
    #hero .lead {
        font-size: 28px;
    }
    #hero .buttons {
        margin-bottom: 50px;
    }
    #features img {
        margin: 20px auto;
    }
    #image {
        padding-bottom: 50px;
    }
    #image .text {
        text-align: center;
    }
    #testimonials .text {
        text-align: center;
    }
    #owl-demo .item img {
        height: 100%;
    }
}
@media (width: 480px) {
    #image .text {
        text-align: center;
        padding-bottom: 25px;
    }
}
@media (width: 360px) {
    #gallery #owl-demo .item {
        padding-left: 15px;
    }
}