* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 13px;
    line-height: 15px;
    font-family: arial, sans-serif;
    color: #fff;
    background: #e1dcc6 url(images/bg.jpg) repeat 0 0;
    min-width: 980px;
}

html, body { height: 100%; }

h2 { font-size: 40px; line-height: 40px; color: #2f3032; }
h3 { font-size: 26px; line-height: 26px; color: #1898d6; }
h4 { font-size: 18px; line-height: 19px; color: #ffffff; }

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

ol, ul { list-style: none outside none; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -318px; }

.shell { width: 980px; margin: 0 auto; }

#top { background: url(images/top-bg.png) repeat-x 0 0; height: 38px; padding: 7px 4px 0 0; }
.top-nav { float: left; display: inline; padding: 10px 0 0 0; font-size: 12px; line-height: 12px; }
.top-nav ul li { float: left; display: inline; padding: 0 13px; border-right: solid 1px #4bb1e5; }
.top-nav ul li.nobg { border-right: 0; }
.top-nav ul li.first { padding-left: 2px; }
.top-nav ul li a { float: left; color: #aee4ff; }
.top-nav ul li a.bag { background: url(images/bag.png) no-repeat right 0; height: 26px; padding: 10px 38px 0 0; position: relative; margin-top: -10px; }

#search { float: right; display: inline; background: url(images/search-bg.png) no-repeat 0 0; width: 120px; height: 15px; padding: 7px 35px 6px 15px; }
#search input.field { line-height: 15px; background: transparent; border: 0; color: #ffffff; font-family: Georgia, serif; font-style: italic; width: 120px; }

#main { padding: 0 0 60px 0; background: url(images/main-bg.png) repeat-x 0 bottom; }

#header { padding: 22px 0 17px 0; }
h1#logo { width: 298px; float: left; display: inline; }
h1#logo a { display: block; background: url(images/logo.png) no-repeat 0 0; height: 63px; }

#navigation { padding: 3px 2px 0 0; float: right; display: inline; }
#navigation ul li { float: left; display: inline; line-height: 45px; font-size: 18px; font-family: Georgia, serif; padding: 0 0 0 5px; }
#navigation li a { color: #000; letter-spacing: -1px; }
#navigation ul li a,
#navigation li a span { float: left; display: inline; height: 45px; padding: 0 0 0 26px; }
#navigation li a span { padding: 0 26px 0 0; }
#navigation li a:hover,
#navigation li a.active,
#navigation li a.hover { background:url(images/nav-bg.png) no-repeat 0 0; text-decoration: none; }
#navigation li a:hover span,
#navigation li a.active span,
#navigation li a.hover span { background:url(images/nav-bg.png) no-repeat right 0; }

#main-slider { background: url(images/main-slider-bg.png) no-repeat 0 0; width: 953px; height: 410px; padding: 13px 14px 46px 13px; position: relative; }
#slider-holder .jcarousel-clip,
#slider-holder ul,
#slider-holder ul li { width: 953px; height: 429px; position: relative; overflow: hidden; }

#main-slider .cnt { width: 440px; position: absolute; top: 46px; right: 27px; font-family: Georgia, serif; }
#main-slider .cnt h4 { font-size: 24px; line-height: 22px; color: #1898d6; font-style: italic; font-weight: normal; padding: 0 0 17px 0; }
#main-slider .cnt h2 { text-transform: uppercase; }
#main-slider .cnt p { padding: 36px 0 22px 0; width: 335px; font-size: 18px; line-height: 22px; color: #979798; }
#main-slider .cnt .price { font-size: 53px; line-height: 75px; color: #ff7800; font-weight: bold; float: left; display: inline; }
#main-slider .cnt .dollar { font-size: 35px; color: #1898d6; font-weight: normal; letter-spacing: -1px; }
#main-slider .cnt .sub-text { vertical-align: super; font-size: 32px; }
#main-slider .cnt a.btn { float: right; display: inline; background: url(images/order-btn.png) no-repeat 0 0; width: 215px; height: 62px; margin: 31px 0 0 0; }

#main-slider .nav { position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; }
#main-slider .nav a { background: url(images/slider-nav.png) no-repeat 0 0; width: 27px; height: 28px; display: inline-block; margin: 0 0 0 -4px; }
#main-slider .nav a:hover,
#main-slider .nav a.active { background: url(images/slider-nav.png) no-repeat 0 bottom; text-decoration: none; }

#content { padding: 30px 0 0 0; }

.case { padding: 0 0 45px 0; }
.case h3 { padding: 0 0 12px 15px; background: url(images/border.png) repeat-x 0 bottom; font-style: italic; font-family: georgia, serif; }

.row { padding: 20px 0 23px 0; background: url(images/border.png) repeat-x 0 bottom; width: 980px; overflow: hidden; }
.last-row { background: none; }
.row ul { width: 1017px; display: block; position: relative; }
.row ul li { float: left; display: inline; width: 232px; height: 266px; padding: 0 19px 0 0; }

.product { background: url(images/product-bg.png) no-repeat 0 0; width: 202px; height: 252px; padding: 14px 14px 0 16px; display: block; font-size: 14px; line-height: 18px; color: #2f3032; font-family: georgia, serif; }
.product { font-style: italic; }
.product img { padding: 0 0 10px 0; position: relative; margin-left: -2px; }
.product .order { display: block; }
.product .model { font-size: 16px; color: #1898d6; padding: 0 0 2px 0; }
.product .number { font-family: arial, sans-serif; font-style: normal; }
.product .buy-text { font-size: 18px; line-height: 30px; color: #ffba00; font-style: normal; font-weight: bold; letter-spacing: -1px; float: left; display: inline; padding: 8px 0 0 0; }
.product .price { font-size: 30px; line-height: 40px; float: right; display: inline; font-style: normal; color: #1898d6; font-weight: bold; }
.product .sub-text { font-size: 20px; line-height: 20px; vertical-align: super; }
.product .dollar { font-size: 20px; }
.product:hover,
.product.hover { background: url(images/product-hover.png) no-repeat 0 0; text-decoration: none; }
.product.hover .model { font-weight: bold; }
.product.hover .buy-text { color: #ff7800; }

.products-slider { padding: 30px 0 0 0; width: 980px; height: 266px; position: relative; }
.slider-holder,
.slider-holder .jcarousel-clip,
.slider-holder ul,
.slider-holder ul li { width: 980px; height: 266px; overflow: hidden; position: relative; }
.slider-holder ul li { float: left; display: inline; width: 245px; z-index: 5; }

.products-slider .nav a { position: absolute; top: 98px; width: 45px; height: 45px; font-size: 0; line-height: 0; text-indent: -4000px; z-index: 10; }
.products-slider .nav a.prev { background: url(images/prev-nav.png) no-repeat 0 0; left: -15px; }
.products-slider .nav a.next { background: url(images/next-nav.png) no-repeat 0 0; right: -14px; }

#footer, #footer-push { height: 318px; overflow: hidden; }
#footer { background: #1a719e url(images/footer-bg.png) repeat-x 0 0; padding: 24px 0 0 0; }
#footer .cols { width: 980px; overflow: hidden; min-height: 238px; }
#footer .cols ul { width: ; position: relative; }
#footer .cols .col { width: 224px; float: left; display: inline; padding: 0 25px 0 0; }
#footer .col h4 { font-style: italic; font-family: georgia, serif; padding: 0 0 7px 5px; border-bottom: dotted 2px #3799cb; margin-bottom: 15px; }
#footer .col p { color: #90c6e2; padding: 0 0 12px 0; }
#footer .col a { color: #104662; }
#footer .col a.more-link { color: #ffba00; font-size: 12px; text-decoration: underline; }
#footer .col a.more-link:hover { text-decoration: none; }
#footer .col .field-wrapper { background: url(images/footer-field-bg.png) no-repeat 0 0; width: 210px; height: 15px; margin-bottom: 5px; padding: 8px 10px 8px 10px; }
#footer .col input.field { line-height: 15px; width: 210px; background: transparent; border: 0; font-size: 13px; color: #c0dfef; font-style: italic; }
#footer .col input.submit-btn { margin-top: 2px; float: right; display: inline; background: url(images/submit-btn.png) no-repeat 0 0; width: 122px; height: 36px; border: 0; font-size: 0; line-height: 0; text-indent: -4000px; }
#footer .col input.submit-btn { cursor: pointer; }
#footer .social ul li { line-height: 23px; font-size: 13px; font-weight: bold; padding: 0 0 5px 0; width: 100px; }
#footer .social a { color: #90c6e2; padding: 0 0 0 36px; display: block; }
#footer .social a.fb-link { background: url(images/f-icon.png) no-repeat 0 0; }
#footer .social a.twitter-link { background: url(images/t-icon.png) no-repeat 0 0; }
#footer .social a.behance-link { background: url(images/be-icon.png) no-repeat 0 0; }
#footer .social a.blogger-link { background: url(images/b-icon.png) no-repeat 0 0; }
#footer .social a.digg-link { background: url(images/d-icon.png) no-repeat 0 0; }
#footer .partners ul li { background: url(images/point.png) no-repeat 0 0; padding: 0 0 14px 26px; font-size: 12px; line-height: 12px; display: block; }
#footer .partners ul li a { color: #ffba00; text-decoration: underline; }
#footer .partners ul li a:hover { text-decoration: none; }
#footer .contact { width: 230px !important; padding-right: 0 !important; }
#footer .copy { float: left; display: inline; padding: 24px 0 0 0; font-weight: bold; color: #5f9cbb; }
#footer .copy a { color: #5f9cbb; }
#footer a.logo { float: right; display: inline; }